// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/* Variables */
$color__blue: #3C474B;
$color__grey: #AEB5B7;
$color__white: #FFFFFF;

$transition: 0.3s;

/* Resets */
a {
  text-decoration: none;
}

/* Center button for demo purposes */

/* Button styles */
.button {
  position: relative;
  display: block;
  width: 200px;
  line-height: 200px;
  border-radius: 50%;
  text-align: center;
  font-family: helvetica;
  font-weight: bold;
  font-size: 1.5em;  
  letter-spacing: 0.2em;
  color: $color__blue;
  outline: none;
  webkit-tap-highlight-color: rgba(0,0,0,0);
  transition: $transition;
  
  &:before,
  &:after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 5px solid $color__blue;
    border-radius: 50%;
    transform-origin: center;
    transition: $transition;
  }
  
  // Border
  &:before {        
    transform: scale(1) rotate(115deg);
  }
  
  // Background
  &:after {
    background: $color__blue;
    transform: scale(0);
    z-index: -1;
  }
}

/* Hover styles */
.button:hover {
  color: $color__white;
  
  // Border
  &:before {
    transform: scale(0.8) rotate(90deg);
    border-radius: 0;    
  }
  
  // Background
  &:after {
    transform: scale(0.8);
    border-radius: 0;
    opacity: 1;
  }
}

